.seat {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.seat .selected {
    background-color: #b11500;
    border-color: #b11500;
    color: white;
}

.seat.occupied {
    cursor: default;
    pointer-events: none;
    background-color: #bbb;
}

.seat.vip {
    border-color: #f71708;
}

.seat.normal {
    border-color: #01c73c;
}