.movie__detail {
    width: 100%;
    margin: 0px 120px;
}

.title {
    font-size: 24px;
    border-bottom: 3px solid black;
    margin-bottom: 20px;
    line-height: 50px;
}

.movie__description {
    display: flex;
    column-gap: 30px;
}

.movie__thumb {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.movie__image {
    width: 180px;
    height: 200px;
    object-fit: cover;

}

.movie__text {
    flex: 1;
}

.movie__name {
    font-size: 24px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.movie__info {

}

.movie__info--list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    font-size: 14px;
}

.movie__info--item {
    margin: 5px 0px;
}


.movie__summary {
    margin-top: 30px;
}

.movie__summary--title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.movie__summary--description {
    color: rgba(0, 0, 0, 0.8);
    
}